version: '3.0'

networks:
  frontend:
    external: true
  backend:

services:
  apache2:
    image: httpd:latest
    volumes:
      - ./apps/backend/:/var/www/html/
    ports:
      - 8080:80

  laravel:
    build:
      context: ./docker/php
    volumes:
      - ./docker/php/php.ini:/usr/local/etc/php/php.ini
      - ./apps/backend/:/var/www/html/
    networks:
      - backend

  mysql:
    image: mysql:latest
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - ./docker/mysql/data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
    restart: always
    ports:
      - 3307:3306
    networks:
      - backend

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root
    networks:
      - frontend
      - backend
    restart: always
    depends_on:
      - mysql
    ports:
      - 8001:80

  node:
    build: ./apps/frontend
    # volumes:
      # - ./apps/frontend:/var/www/frontend
    ports:
      - 8002:8080
